@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #eee;
    --black: #333;
    --yellow: #ffe600;
    --sky-blue: #3483fa;
    --gray: #999;
    --granite: #666;
}

body {
    background: var(--background);
    color: var(--black);
    font-family: var(--font-proxima-nova);
}

@layer components {
    header {
        @apply w-full;
        @apply py-3;
        @apply lg:py-5;
        @apply px-5;
        @apply lg:px-40;
        @apply bg-[--yellow];
    }

    .search-bar {
        @apply flex;
        @apply flex-row;
        @apply w-full;
        @apply items-center;
    }
    .search-bar > img {
        @apply h-[36px];
        @apply w-[53px];
    }
    .search-bar > form {
        @apply flex;
        @apply w-full;
        @apply ml-4;
        @apply md:ml-8;
    }
    .search-bar > form > input {
        @apply w-full;
        @apply px-4;
        @apply py-2;
        @apply rounded-l-sm;
        @apply focus:outline-none;
        @apply focus:ring-1;
        @apply focus:ring-[--black];
        @apply text-base;
        @apply md:text-lg;
    }
    .search-bar > form > button {
        @apply px-4;
        @apply py-2;
        @apply bg-[--background];
        @apply rounded-r-sm;
        @apply hover:bg-[--gray];
        @apply focus:outline-none;
        @apply focus:ring-1;
        @apply focus:ring-[--black];
    }
    .search-bar > form > button > img {
        @apply h-[16px];
        @apply w-[16px];
        @apply md:h-[18px];
        @apply md:w-[18px];
    }

    main {
        @apply pt-4;
        @apply pb-9;
        @apply px-5;
        @apply lg:px-40;
    }

    .home-message {
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply items-center;
        @apply mt-2;
    }
    .home-message > h1 {
        @apply text-lg;
        @apply md:text-2xl;
        @apply text-[--gray];
        @apply text-center;
        @apply mt-2;
    }

    .breadcrumb {
        @apply text-xs;
        @apply md:text-sm;
        @apply text-[--gray];
        @apply font-light;
        @apply w-full;
        @apply mb-4;
    }
    .breadcrumb > ol {
        @apply flex;
        @layer list-reset;
    }
    .breadcrumb > ol > .breadcrumb-last-path {
        @apply font-semibold;
    }
    .breadcrumb > ol > .breadcrumb-divider-icon {
        @apply flex;
        @apply items-center;
        @apply mx-1;
    }

    .products-list {
        @apply grid;
        @apply grid-rows-4;
        @apply md:gap-2;
        @apply rounded-sm;
        @apply bg-white p-2;
    }

    .products-list-item {
        @apply flex;
        @apply flex-col;
        @apply md:flex-row;
        @apply hover:bg-[--background];
        @apply rounded-sm;
        @apply p-2;
    }
    .products-list-item > img {
        @apply self-center;
        @apply h-[180px];
        @apply w-[180px];
        @apply rounded-sm;
        @apply object-contain;
    }
    .products-list-item > .details {
        @apply grid;
        @apply grid-rows-4;
        @apply md:grid-cols-8;
        @apply justify-between;
        @apply w-full;
        @apply p-3;
        @apply md:p-4;
    }
    .products-list-item > .details > div {
        @apply row-span-3;
        @apply md:col-span-6;
    }
    .products-list-item > .details > p {
        @apply row-span-1;
        @apply md:col-span-2;
        @apply text-xs;
        @apply text-[--granite];
        @apply mt-auto;
        @apply md:mt-0;
    }
    .products-list-item > .details > div > .price {
        @apply flex;
        @apply flex-row;
        @apply items-center;
        @apply mb-4;
        @apply md:mb-8;
    }
    .products-list-item > .details > div > .price > p {
        @apply text-2xl;
    }
    .products-list-item > .details > div > .price > img {
        @apply h-[18px];
        @apply w-[18px];
        @apply ml-3;
    }
    .products-list-item > .details > div > h2 {
        @apply text-base;
        @apply md:text-lg;
    }

    .product {
        @apply rounded-sm;
        @apply bg-white;
        @apply p-4;
        @apply md:p-8;
        @apply flex;
        @apply flex-col-reverse;
        @apply gap-8;
        @apply md:gap-0;
        @apply md:grid;
        @apply md:grid-cols-10;
    }
    .product > .description {
        @apply md:col-span-7;
    }
    .product > .description > img {
        @apply max-h-[680px];
        @apply w-[680px];
        @apply object-contain;
    }
    .product > .description > h2 {
        @apply text-2xl;
        @apply md:text-[28px];
        @apply my-6;
        @apply md:my-8;
    }
    .product > .description > p {
        @apply text-sm;
        @apply md:text-base;
        @apply text-[--gray];
        @apply font-light;
    }
    .product > .details {
        @apply md:col-span-3;
    }
    .product > .details > p {
        @apply text-xs;
        @apply md:text-sm;
        @apply mb-4;
        @apply font-light;
    }
    .product > .details > h1 {
        @apply text-lg;
        @apply md:text-2xl;
        @apply mb-8;
        @apply font-semibold;
    }
    .product > .details > .price {
        @apply flex;
        @apply flex-row;
        @apply justify-center;
        @apply md:justify-start;
        @apply mb-8;
    }
    .product > .details > .price > .amount {
        @apply text-4xl;
        @apply md:text-[46px];
    }
    .product > .details > .price > .decimals {
        @apply text-xl;
        @apply md:text-2xl;
        @apply relative;
        @apply top-0.5;
        @apply md:-top-0.5;
    }

    .button-primary {
        @apply bg-[--sky-blue];
        @apply hover:bg-[#2968c8];
        @apply active:bg-[#204e96];
        @apply w-full;
        @apply text-white;
        @apply rounded-sm;
        @apply py-2;
        @apply text-base;
        @apply md:text-lg;
    }

    .spinner {
        @apply absolute;
        @apply -translate-x-1/2;
        @apply -translate-y-1/2;
        @apply top-2/4;
        @apply left-1/2;
    }
    .spinner > svg {
        @apply inline;
        @apply w-8;
        @apply h-8;
        @apply animate-spin;
        @apply fill-white;
        @apply text-[--gray];
    }

    hr {
        @apply mt-2;
        @apply h-[2px];
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
